/*
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
*/


////////////////////////////////////////////////////////////////////////////////
// CUSTOMIZE SLATE
////////////////////////////////////////////////////////////////////////////////
// Use these settings to help adjust the appearance of Slate


$primary: #2587d5 !default;
$primary-x-light: lighten($primary, 10) !default;
$secondary: #003864 !default;
$secondary-x-light: lighten($secondary, 10) !default;
$secondary-xx-light: lighten($secondary, 20) !default;
$yellow: #ffbf00 !default;
$dark: #2f2f2f !default;

// BACKGROUND COLORS
////////////////////
$navbar-bg: #d7edff !default;
$nav-bg: #f5f5f5 !default;
$examples-bg: $secondary !default;
$code-bg: darken($secondary, 10) !default;
$code-annotation-bg: $secondary-x-light !default;
$nav-subitem-bg: darken($nav-bg, 10) !default;
$nav-active-bg: $primary !default;
$nav-active-parent-bg: $primary-x-light !default; // parent links of the current section
$lang-select-border: #000 !default;
$lang-select-bg: $nav-bg !default;
$lang-select-active-bg: $examples-bg !default; // feel free to change this to blue or something
$lang-select-pressed-bg: darken($secondary, 20) !default; // color of language tab bg when mouse is pressed
$main-bg: #fff !default;
$aside-notice-bg: #8fbcd4 !default;
$aside-warning-bg: #c97a7e !default;
$aside-success-bg: #6ac174 !default;
$search-notice-bg: #c97a7e !default;


// TEXT COLORS
////////////////////
$main-text: #333 !default; // main content text color
$nav-text: $secondary !default;
$nav-active-text: #fff !default;
$nav-active-parent-text: #fff !default; // parent links of the current section
$lang-select-text: $secondary !default; // color of unselected language tab text
$lang-select-active-text: #fff !default; // color of selected language tab text
$lang-select-pressed-text: #fff !default; // color of language tab text when mouse is pressed


// SIZES
////////////////////
$navbar-height: 6.25rem !default;
$nav-width: 230px !default; // width of the navbar
$examples-width: 50% !default; // portion of the screen taken up by code examples
// $examples-width: 0; // TODO: remove
$logo-width: 90%; // width of the logo
$logo-margin: 10px auto !default; // margin below logo
$main-padding: 28px !default; // padding to left and right of content & examples
$nav-padding: 15px !default; // padding to left and right of navbar
$nav-v-padding: 10px !default; // padding used vertically around search boxes and results
$nav-indent: 10px !default; // extra padding for ToC subitems
$code-annotation-padding: 13px !default; // padding inside code annotations
$h1-margin-bottom: 21px !default; // padding under the largest header tags
$tablet-width: 930px !default; // min width before reverting to tablet size
$phone-width: $tablet-width - $nav-width !default; // min width before reverting to mobile size


// OTHER
////////////////////
$sections-border-color: #ccc !default;
$sections-border-style: solid !default;
$sections-border-width: 1px !default;
$sections-border: $sections-border-width $sections-border-style $sections-border-color;
$nav-footer-border-color: #666 !default;
$search-box-border-color: #666 !default;


////////////////////////////////////////////////////////////////////////////////
// INTERNAL
////////////////////////////////////////////////////////////////////////////////
// These settings are probably best left alone.

%break-words {
    word-break: break-all;
    hyphens: auto;
}
