<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs || [] %>
<% page_content = yield %>
<%
  if current_page.data.includes
    current_page.data.includes.each do |include|
      page_content += partial("includes/#{include}")
    end
  end
%>

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= current_page.data.title || "API Documentation" %></title>

    <link rel="apple-touch-icon" sizes="57x57" href="https://cdn.hestia.earth/prod/assets/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://cdn.hestia.earth/prod/assets/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://cdn.hestia.earth/prod/assets/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://cdn.hestia.earth/prod/assets/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://cdn.hestia.earth/prod/assets/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://cdn.hestia.earth/prod/assets/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://cdn.hestia.earth/prod/assets/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.hestia.earth/prod/assets/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.hestia.earth/prod/assets/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
      href="https://cdn.hestia.earth/prod/assets/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.hestia.earth/prod/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://cdn.hestia.earth/prod/assets/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.hestia.earth/prod/assets/icons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://cdn.hestia.earth/prod/assets/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdn.hestia.earth/prod/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css">

    <style>
      <%= Rouge::Themes::MonokaiSublime.render(:scope => '.highlight') %>
    </style>

    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>

    <% if current_page.data.code_clipboard %>
    <script>
      $(function() { setupCodeCopy(); });
    </script>
    <% end %>
  </head>

  <body class="<%= page_classes %> has-spaced-navbar-fixed-top" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">
    <nav class="navbar is-spaced is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
      <div class="navbar-brand is-justify-content-space-between">
        <a role="button" class="navbar-burger burger ml-0 is-hidden-tablet"
          aria-label="menu" aria-expanded="false" data-target="navbar-dd"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>

        <a class="navbar-item" href="/">
          <img loading="lazy" class="logo-yellow" src="https://cdn.hestia.earth/prod/assets/images/logo-yellow.svg" width="180" height="69">
          <img loading="lazy" class="logo-white is-hidden" src="https://cdn.hestia.earth/prod/assets/images/logo-white.svg" width="180" height="69">
        </a>

        <div class="is-flex is-align-items-center is-hidden-mobile is-hidden-desktop">
          <a class="is-mx-2 partner-logo is-oms" href="https://www.oxfordmartin.ox.ac.uk/food-sustainability-analytics/" target="_blank" title="Oxford Martin School"></a>
          <a class="is-mx-2 partner-logo is-login5" href="https://login5.org/" target="_blank" title="Login5 Foundation"></a>
          <a class="is-mx-2 partner-logo is-wwf" href="https://wwf.panda.org/" target="_blank" title="WWF"></a>
        </div>

        <div class="is-flex is-align-items-center is-ml-mobile-auto is-mr-3 is-hidden-desktop">
          <a class="signin-icon user-unlogged" href="/users/profile">
            <img class="logo-yellow is-hidden-mobile" height="24" width="24" src="https://cdn.hestia.earth/prod/assets/images/profile-blue.svg" />
            <img class="logo-yellow is-hidden-tablet" height="24" width="24" src="https://cdn.hestia.earth/prod/assets/images/profile-yellow.svg" />
            <img class="logo-white is-hidden" height="24" width="24" src="https://cdn.hestia.earth/prod/assets/images/profile-white.svg" />
          </a>
          <a class="user-icon is-ml-2 user-logged has-text-white has-text-centered"
            aria-haspopup="true" aria-controls="navbar-users" data-target="navbar-users"
          >
            <span class="user-name">user initial</span>
          </a>

          <a role="button" class="navbar-burger burger ml-0 is-hidden-mobile"
            aria-label="menu" aria-expanded="false" data-target="navbar-dd"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      </div>

      <div id="navbar-dd" class="navbar-menu is-primary">
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Data Format
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item is-active" href="/schema/">
                Schema
              </a>
              <a class="navbar-item" href="/glossary">
                Glossary of Terms
              </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Data Platform
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/upload">
                How to Upload
              </a>
              <a class="navbar-item" href="/aggregation/explorer">
                Data Explorer
              </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Calculation Tools
            </a>
            <div class="navbar-dropdown is-right">
              <a class="navbar-item" href="/docs/" target="_blank">
                Documentation
              </a>
              <a class="navbar-item" href="/calculation">
                Modelling approach
              </a>
            </div>
          </div>

          <a class="users-signin user-unlogged button is-secondary is-rounded is-ml-mobile-auto is-mx-tablet-3" href="/users/signin">
            Sign In
          </a>
          <div class="user-logged navbar-item is-ml-2 has-dropdown is-hoverable is-hidden-mobile is-hidden-tablet-only pointer">
            <a class="user-icon is-block has-text-centered w-100">
              <span class="user-name">user initial</span>
            </a>
            <div class="navbar-dropdown is-right">
              <a class="navbar-item" href="/files">
                My Uploads
              </a>
              <a class="navbar-item" href="/users/profile">
                My Account Settings
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item" onclick="signOut()">
                Sign Out
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end is-ml-2 is-hidden-mobile is-hidden-tablet-only">
          <a class="is-mx-2 partner-logo is-oms" href="https://www.oxfordmartin.ox.ac.uk/food-sustainability-analytics/" target="_blank" title="Oxford Martin School"></a>
          <a class="is-mx-2 partner-logo is-login5" href="https://login5.org/" target="_blank" title="Login5 Foundation"></a>
          <a class="is-mx-2 partner-logo is-wwf" href="https://wwf.panda.org/" target="_blank" title="WWF"></a>
        </div>
      </div>

      <div id="navbar-users" class="navbar-menu is-primary is-hidden-desktop">
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/files">
            My Uploads
          </a>
          <a class="navbar-item" href="/users/profile">
            My Account Settings
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" onclick="signOut()">
            Sign Out
          </a>
        </div>
      </div>
    </nav>
    <div class="toc-wrapper">
      <% if language_tabs.any? %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if current_page.data.search %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% end %>
      <ul id="toc" class="toc-list-h1">
        <% toc_data(page_content).each do |h1| %>
          <li>
            <a href="#<%= h1[:id] %>" class="toc-h1 toc-link" data-title="<%= h1[:title] %>"><%= h1[:content] %></a>
            <% if h1[:children].length > 0 %>
              <ul class="toc-list-h2">
                <% h1[:children].each do |h2| %>
                  <li>
                    <a href="#<%= h2[:id] %>" class="toc-h2 toc-link" data-title="<%= h2[:title] %>"><%= h2[:content] %></a>
                    <% if h2[:children].length > 0 %>
                      <ul class="toc-list-h3">
                        <% h2[:children].each do |h3| %>
                          <li>
                            <a href="#<%= h3[:id] %>" class="toc-h3 toc-link" data-title="<%= h3[:content] %>"><%= h3[:content] %></a>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if current_page.data.toc_footers %>
        <ul class="toc-footer">
          <% current_page.data.toc_footers.each do |footer| %>
            <li><%= footer %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%= page_content %>
      </div>
      <div class="dark-box">
        <% if language_tabs.any? %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
